---
import { Button } from "@/components/ui/button";
import { features } from "../../config/landing";
import { Icon } from "astro-icon/components";
import HeaderSection from "./header-section.astro";
import {t} from 'i18next'
---

<section>
  <div class="pb-6 pt-14">
    <div class="container max-w-7xl">
      <HeaderSection
        title={t("MainNav.特性")}
        subtitle={t("Index.featureBefore")}
      />

      <div class="mt-12 grid gap-3 sm:grid-cols-2 lg:grid-cols-3">
        {
          features.map((feature) => (
            <div class="group relative overflow-hidden rounded-2xl border bg-background p-5 md:p-8">
              <div
                aria-hidden="true"
                class="absolute inset-0 aspect-video -translate-y-1/2 rounded-full border bg-gradient-to-b from-purple-500/80 to-white opacity-25 blur-2xl duration-300 group-hover:-translate-y-1/4 dark:from-white dark:to-white dark:opacity-5 dark:group-hover:opacity-10"
              />
              <div class="relative">
                <div class="relative flex size-12 rounded-2xl border border-border shadow-sm *:relative *:m-auto *:size-6 ">
                    <Icon name={feature.icon} class="size-4" />
                </div>
              </div>
              <h3 class="mt-6 text-md font-semibold">{t(feature.title)}</h3>
                <p class="mt-6 pb-6 text-muted-foreground">
                  {t(feature.description)}
                </p>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
