---
import {changeLanguage} from "i18next";
import FigmaPluginPage from "@/components/web/FigmaPluginPage";
import '@/styles/globals.css'
changeLanguage("en");
---

<section class="">
    <FigmaPluginPage client:only="react"></FigmaPluginPage>
</section>

<style is:global>
::-webkit-scrollbar {
    display: none;
}
</style>